springboot-test-14/src/main/resources/META-INF/schemas/user.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="http://www.yczuoxin.com/schemas" xmlns="http://www.yczuoxin.com/schemas">
    <xs:complexType name="User">
        <xs:sequence>
            <!--
                maxOccurs 最多出现次数，默认值为 1
                minOccurs 最少出现次数，默认值为 1
                命令行 java -Dfile.encoding=UTF-8 -cp "C:\Program Files"\java\jdk1.8.0_191\lib\tools.jar com.sun.tools.internal.xjc.Driver -d src/main/java -p com.yczuoxin.springboot.test14.domain src/main/resources/META-INF/schemas/user.xsd
            -->
            <xs:element name="id" type="xs:long" maxOccurs="1" minOccurs="1" />
            <xs:element name="name" type="xs:string" maxOccurs="1" minOccurs="1" />
            <xs:element name="age" type="xs:int" maxOccurs="1" minOccurs="0">

            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="UserIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:long" />
                <xs:element name="timestamp" type="xs:long" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="User" />
                <xs:element name="timestamp" type="xs:long" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
